# GLOBAL
.DS_Store
*.iml
*.swp
*.o

# machine
/com.ceteva.xmf.machine/com.ceteva.xmf.machine.jar
/com.ceteva.xmf.machine/bin

# system
/com.ceteva.xmf.system/bin
/com.ceteva.xmf.system/xmf-img/xmf.img
!/com.ceteva.xmf.system/xmf-src/**/CompileAll.o #used to be in xmf.system/xmf-src/.gitignore
!/com.ceteva.xmf.system/xmf-src/Clients/Boot/Mosaic/**/*.o
/com.ceteva.xmf.system/xmf-doc/Curriculum/curriculum.*
!/com.ceteva.xmf.system/xmf-doc/Curriculum/curriculum.pdf
!/com.ceteva.xmf.system/xmf-doc/Curriculum/curriculum.tex
